b {
  font-weight: bold;
}


i {
  font-style: italic;
}


body,
#main_content_wrap {
  background: white;
}


.downloadButton {
  background: lightgrey;
  border-radius: 10px;
}


#main_content {
  margin-top: 3em;
}


h2 {
  margin-top: 1.5em;
}


@media (max-width: 999px) {
  .facet_sidebar {
    display: none;
  }

  .inner {
    max-width: 90%;
  }
}
